button {
  cursor: pointer;
  width: 150px;
  font-size: x-large;
  background-color: #3C967D;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  &:hover {
    background-color: #307864;
    color: #fff;
  }
}
.outlined {
  background-color: transparent;
  color: #3C967D;
  border: 1px solid #3C967D;
  &:hover {
    background-color: #3C967D;
    color: #fff;
  }
}

